{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services Page</title>
</head>
<body>
{% block contect %}
    <h1 class="text-center">Available Courses </h1>
    <center>
   <table class="table table-bordered text-center text-white">
{#        <table class="table table-border text-center text-white">#}
     <thead>
        <tr bgcolor="red">
            <th>Course Name</th>
            <th>Start Date</th>
            <th>Durations</th>
            <th>Timings</th>
            <th>Fee</th>
            <th>Faculty Name</th>
        </tr>
    </thead>
    <tbody>
        <tr bgcolor="#ffd700">
            <td>Mathematics</td>
            <td>11-04-2019</td>
            <td>60 days</td>
            <td>10am-11.30am</td>
            <td>2000/-</td>
            <td>Mr.Ranajn</td>
        </tr>
        <tr bgcolor="#ffd700">
            <td>Chemistry</td>
            <td>11-04-2019</td>
            <td>60 days</td>
            <td>12pm-2:00pm</td>
            <td>2000/-</td>
            <td>Mr.Chandan</td>
        </tr>
        <tr bgcolor="#ffd700">
            <td>computer</td>
            <td>11-04-2019</td>
            <td>60 days</td>
            <td>2:0Pm-3.30Pm</td>
            <td>2000/-</td>
            <td>Mrs.snagam</td>
        </tr>
        <tr bgcolor="#ffd700">
            <td>Physics</td>
            <td>11-04-2019</td>
            <td>60 days</td>
            <td>9am-11.30am</td>
            <td>2000/-</td>
            <td>Mr.Dhirendra</td>
        </tr>
    </tbody>
  </table>
    </center>
{% endblock %}
</body>
</html>